.input_container {
    display: flex;
    flex-direction: column;
    width: auto;
}

.label {
    padding-left: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 8pt;
    color: darkslategray;
}

.input {
    border: 1px solid var(--input-border-color);
    outline: var(--input-outline);
    width: auto;
    height: var(--input-height);
    padding-left: 0.5rem;
    border-radius: var(--input-border-radius);
    color: darkslategray;
    margin-right: 0.5rem;
}

.text {
}

.date {

}

.number {

}