.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 280px;
    height: 130px;
    border-radius: 20px;
    position: relative;
    background-color: var(--elements-color);
    color: var(--pagesidebar-fontcolor);
    box-shadow: -4px 4px 10px 1px  rgba(0, 0, 0, 0.3);
    padding-left: 1rem;
}

.text_area {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    right: 0;
    position: absolute;
    border-radius: 15px 20px 20px 15px;
    background: whitrgba(255, 255, 255, 0.20);
    box-shadow: -15px 0 20px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgb(255, 255, 255);
    padding-left: 1rem;
    transition: 0.3s all;
}
.container:hover {
    transition: 0.2s all;
    color: var(--secondary-color);
}

.text_area:hover {
    cursor: pointer;
    transition: 0.2s ease;
    transform: scale(1.02);
}

.title {
    display: flex;
    align-items: center;
    font-size: 9pt;
    flex: 1;
}

.info {
    font-size: 6pt;
    flex: 1;
    margin-top: 0.5rem;
}