.pagelayout_container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    margin-top: var(--header-master-height);
}

.sidebar_and_main {
    display: flex;
    margin-top: calc(var(--pageheader-height) + 1rem);
    position: relative;
    min-height: inherit;
    height: inherit;
}

.main {
    height: auto;
    background-color: blue;
}
