@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --header-gradient: linear-gradient(24deg, rgba(29,53,87,1) 0%, rgba(24,68,130,1) 100%);
    --background-color: #F1FAEE;
    --primary-color: #1D3557;
    --secondary-color: #457B9D;
    --tertiary-color: #A8DADC;

    --container-widht: 25rem;
    --container-height: 10rem;
    --background-menu-item: linear-gradient(124deg, rgba(0,163,204,1) 0%, rgba(0,204,255,1) 100%);
    --header-background: linear-gradient(270deg, rgba(0,0,68,1) 0%, rgba(0,0,110,1) 100%);

    --clr-mn-it-1: #0079FF;

    --input-outline: none;
    --input-height: 30px;
    --input-border-radius: 2px;

    --pageheader-height: 40px;
    --pagesidebar-closed: 5%;
    --pagesidebar-expanded: 20%;
    --pagemain-marginsidebar: 2%;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    list-style-type: none;

    /* Works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--tertiary-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    border-radius: 20px;
}

body {
    background: var(--background-color);
}

#main {
    margin-top: 4rem;
}

.input_label {
    display: flex;
    flex-direction: column;
}