@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{
    --header-gradient: linear-gradient(24deg, rgba(29,53,87,1) 0%, rgba(24,68,130,1) 100%);
    --background-color: #E5E4E2;
    --primary-color: #1D3557;
    --secondary-color: #457B9D;
    --tertiary-color: #A8DADC;

    --elements-color: #f2f3f4;
    --elements-border: #ffff;

    --letter-color-default: #353839;

    --input-outline: none;
    --input-height: 30px;
    --input-border-radius: 2px;

    --layout-border-radius: 4px;

    --pageheader-height: 40px;
    --pagesidebar-closed: 4rem;
    --pagesidebar-expanded: 15rem;
    --pagemain-marginsidebar: 1%;
    --pagemain-marginheader: 0.5%;
}

* {
    font-family: 'Open Sans', sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

    /* Works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--tertiary-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    border-radius: var(--layout-border-radius);
}

body {
    background: var(--background-color);
}

#main {
    margin-top: 4rem;
}

.input_label {
    display: flex;
    flex-direction: column;
}
