@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-master-height: 3.5rem;
    --input-outline: none;
    --input-height: 1.7rem;
    --input-border-radius: 0.5rem;
    --layout-border-radius: 0.5rem;
    --pageheader-height: 2.5rem;
    --pagesidebar-closed: 5rem;
    --pagesidebar-expanded: 32rem;
    --pagesidebar-min-height: 2.3rem;

    --primary-color: #1d3557;
    --secondary-color: #457b9d;
    --tertiary-color: #a8dadc;

    --background-color: #f1faee;
    --font-color: gray;

    --font-weight-menu: 500;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

    /* Works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--tertiary-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
    border-radius: var(--layout-border-radius);
}


body {
    background: var(--background-color);
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

button {
    border: none;
    background-color: transparent;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}

textarea {
    resize: none;
    outline: none;
}
