.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 300px;
    height: 150px;
    margin-left: 40px;
    border-radius: 20px;
    position: relative;
    background-color: var(--elements-color);
    color: var(--pagesidebar-fontcolor);
    box-shadow: -4px 4px 10px 1px  rgba(0, 0, 0, 0.3);
}

.text_area {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    right: 0;
    position: absolute;
    border-radius: 15px 20px 20px 15px;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: -15px 0 20px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgb(255, 255, 255);
    padding-left: 1rem;
}

/* From https://css.glass */

.title {
    display: flex;
    align-items: center;
    font-size: 10pt;
    flex: 1;
}

.info {
    font-size: 6pt;
    flex: 1;
    margin-top: 0.5rem;
}

.container:hover {
    cursor: pointer;
}