.box:hover {
    cursor: pointer;
}

.box:active {
    transform: scale(0.9);
    transition: 0.2s ease;
    cursor: pointer;
}

.box_checked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: green;
    position: relative;
    border-radius: 2px;
    color: white;
    box-shadow: 0 0 2px 0.5px rgba(0, 255, 0, 1);
    transition: 0.2s ease;
}



.box_unchecked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 0.1px solid green;
    position: relative;
    border-radius: 2px;
    transition: 0.2s ease;
}