.pagesidebar_container {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    background-color: var(--elements-color);
    border: 1px solid var(--elements-border);
    border-top-right-radius: var(--layout-border-radius);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
}   

.pagesidebar_container_expanded {
    min-width: var(--pagesidebar-expanded);
    width: auto;
    transition: 0.3s ease;
}

.pagesidebar_container_close {
    width: var(--pagesidebar-closed);
    border-top-right-radius: var(--layout-border-radius);
    transition: 0.3s ease;
}

.toggle_sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.toggle_sidebar_icon_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.toggle_sidebar_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--pagesidebar-fontcolor);
    transition: 0.1s all;
    background-color: var(--elements-color);
    padding: 0.3rem;
    border-radius: 25%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.toggle_sidebar_icon:hover {
    cursor: pointer;
}

.pagesidebar_search_menu {
    width: 100%;
}

.pagesidebar_search_menu_hidden {
    display: none;
}

.pagesidebar_top_hidden {
    display: flex;
    justify-content: space-between;
}
