.submenu_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 10pt;
    margin: 0.5rem 0 0.2rem 1rem;
}

.submenu {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 1rem;
    height: 1.5rem;
    margin: 0.2rem 0;
}

.submenu:hover {
    color: var(--pagesidebar-fontcolor-hover);
    cursor: pointer;
    transition: 0.1s all;
}

.submenu:hover .submenu_description {
    border-left: 0.1rem solid var(--letter-color-default);
    padding-left: 0.2rem;
    transition: 0.1s all;
}

.submenu_icon_link,
.submenu_icon_list {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.submenu:active .submenu_icon_link {
    transform: translateX(10px);
}

.submenu:active .submenu_icon_list {
    transform: scale(0.50); 
}


.arrow_closed {
    transform: rotate(-180deg);
    transition: 0.3s ease;
}

.arrow_expanded {
    transition: 0.3s ease;
}
