.submenu_container {
    font-size: 0.8rem;
    padding: 0.8rem 0 0.8rem 2rem;
    margin-left: 0.5rem;
}

.submenu {

}

.submenu:hover {
    cursor: pointer;
}

.submenu_description {
    
}

.arrow_closed {
    transform: rotate(-180deg);
    transition: 0.3s ease;
}

.arrow_expanded {
    transition: 0.3s ease;
}
